__pycache__
artifacts/*
*train*.txt
!requirements.txt
results/
logs/

.env

# Checkpoint files
!artifacts/train-qwen0.6b-rank8/
!artifacts/train-qwen0.6b-rank8/checkpoint-final/

!artifacts/train-qwen4b-rank16/
!artifacts/train-qwen4b-rank16/checkpoint-final/
